body{
    background-color: #e7e1e1;
    display: flex;
    justify-content: center;
}

.main{
    height: 97vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-size: xx-large;
}

.temario{
    width: 729px;
    height: auto;

}

.titulo{
    border-bottom: 2px solid #000
}

.tema{
    border-bottom: 1px solid #d3d0d0;
    display: flex;
    justify-content: space-between;
}